# ===============================
# Python artifacts
# ===============================
__pycache__/
*.py[cod]
*.so
*.egg-info/

# ===============================
# Jupyter notebooks
# ===============================
.ipynb_checkpoints/

debug.ipynb

# ===============================
# Environment files
# ===============================
.env
*.env
.venv/
.miniforge/
.python311/
.ollama_env/
ollama_env/

# ===============================
# VSCode / IDEs
# ===============================
.vscode/
.idea/
*.swp



# Ignore all files in these folders
data/*
jobs/*
models/*

# Ignore everything inside a root-level utils/ folder
/utils/

# Local Hugging Face cache
.hf_cache/

# But keep folders visible in repo
!data/.gitkeep
!jobs/.gitkeep

# ===============================
# Checkpoints / Logs / Outputs
# ===============================
logs/
*.log
*.out
*.pth
*.ckpt


# ===============================
# Misc
# ===============================
.DS_Store
